<form action="/" method="GET" class="SearchForm">
  <input name="s" placeholder="Что вы ищете?" type="text" class="SearchForm__keywords" value="<%=keywords%>">
  <button type="submit" class="SearchForm__search">Искать</button>
</form>
